body {
        font-family: 'Lumanosimo', cursive;
      }

      #welcom {
        background-color: rgb(87, 153, 75);
      }
      #lista {
        background-color: rgb(152, 141, 255);
      }

      #aw {
        background-color: rgb(153, 75, 75);
      }